.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.filterContenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterContenedor select {
  margin-right: 20px;
  width: 180px;
  height: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.495);
  cursor: pointer;
}

.filterContenedor option {
  background-color: rgba(19, 19, 19, 0.758);
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.nav .add {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav .add:hover {
  background-color: rgb(77, 77, 77);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.391);
  color: white;
}
