nav .paginado {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.paginado li {
  list-style: none;
}
.paginado .boton {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(119, 119, 119);
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.paginado .boton:focus {
  box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.373);
  transform: scale(0.9);
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.653);
}
.paginado .boton:hover {
  box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.373);
}

.paginado .botonesCostados {
  background-color: rgb(119, 119, 119);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px black;
}
.paginado .botonesCostados:hover {
  box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.373);
  transform: scale(0.9);
  transition: all 0.3s ease;
}
